.signUp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 1rem;
  border-radius: 1rem;
  background-color: var(--cardColor);
}

.signUpInput {
  flex: 1;
  padding: 20px;
  border: none;
  border-radius: 8px;
  outline: none;
  background-color: var(--inputColor);
}

.signUpBlock {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  height: 2rem;
  width: 100%;
}

.btn--signUp {
  width: 6rem;
  height: 2rem;
  align-self: flex-end;
}

.signUpText {
  position: relative;
  font-size: 12px;
  color: var(--orange);
  text-decoration: none;
}

.signUpText::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  background-color: var(--orange);
  width: 100%;
  height: 1px;
  transform: scale(0);
  transition: transform .3s ease-in-out;
}

.signUpText:hover::after {
  transform: scale(1);
}

.signUpAction {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  height: 2rem;
  width: 100%;
}

.signUpReq {
  position: relative;
  display: flex;
  width: 100%;
}

.signUpError {
  position: absolute;
  top: 3px;
  left: 6px;
  width: max-content;
  font-size: 12px;
  color: var(--location);
}