.infoCard {
  display: flex;
  flex-direction: column;
  gap: .75rem;
  padding: 1rem;
  width: 100%;
  border-radius: 1rem;
  background-color: var(--cardColor);
}

.infoCardHead {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.infoCardIcon {
  width: 2rem;
  height: 1.2rem;
  cursor: pointer;
}

.infoCardItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.infoCardLabel {
  font-weight: bold;
}

.btn--logout {
  align-self: flex-end;
  margin-top: 6rem;
  width: 7rem;
  height: 2rem;
}